@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./Metropolis-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./Metropolis-Bold.woff2") format("woff2");
}

:root {
  --background: #1E242E;
  --primary-dark: #242B37;
  --primary-light: #F2EEDB;
  --secondary-light: #E6E1DE;
  --accent-primary: #F0A853;
  --accent-secondary: #7DCADB;
  --accent-tertiary: #6D6359;
  --body-text: Metropolis;
  font-size: 16px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
	background-color: var(--background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  color: var(--primary-light);
  text-decoration: none;
}

a:visited {
  color: var(--primary-light);
}
